
$tile-width: 200px;
$tile-padding: 10px;

.spk-e-images {
	.files-loader {
		padding: 1rem;
		text-align: center;
	}

    .files-holder {
        width: 100%;
        min-height: 200px;
		border: 3px solid #fff;
		.file-holder {
            .alert {
                margin-bottom: 0.25rem;
                padding: 0.5rem;
            }
            .alert:hover {
				background-color: darken(#cff4fc, 5);
			}
            .file-details {
                display: flex;
                align-items: center;
            }
            .file-name {
                font-size: $font-size-base * 0.85;
            }
		}
        .image-holder {
			width: $tile-width;
			float: left;
			padding: $tile-padding;
            img {
                max-width: 100%;
            }
            .btn-group {
                .btn {
                    border-radius: 0;
                }
            }
            .image-displayer {
                background-position: center;
                background-size: cover;
            }
		}
		@include media-breakpoint-down(lg) {

		}
    }
	.single-image {
		width: 230px;
		.image-holder {
			width: 200px;
		}
	}
    .dragover {
        background-color: #e1f7d8;
        border: 3px dashed #aaecaa;
    }
}
