
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col">
                $title
            </div>
            <div class="col-auto">
                <button _elem="upload" class="btn btn-primary btn-sm m-0 float-right">
                    <i class="fas fa-file-upload" aria-hidden="true"></i>
                    &nbsp;$text('buttons_Upload')
                </button>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="spk-e-images">
            <div _show="loading" class="files-loader">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">$text('texts_Loading')</span>
                </div>
            </div>
            <!-- <div _holder="fileInput" class="file-loader"></div> -->
            <div _elem="files" class="files-holder $class">
                <$ _hide="loading">
                    <!-- Images -->
                    <div _repeat="files:file" _show="type.isImage" class="image-holder">
                        <div class="image-displayer mb-1" style="background-image: url('${file.imgUri}?t=${timestamp}');'">
                            <a _elem="images_Insert_Image" href="">
                                <img src="/dev/node_modules/spk-file-upload/images/dummy.png" alt="" />
                            </a>
                        </div>
                        <div class="row">
                            <div class="col image-option">
                                <a _elem="images_Insert_Text" href="">
                                    <i class="fa fa-image" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div  class="col image-option">
                                <a _elem="images_Copy" href="">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="col image-option">
                                <a _elem="images_Delete" href="">
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Files -->
                    <div _repeat="files:file" _show="type.isFile" class="file-holder">
                        <div class="row alert alert-success">
                            <div class="col-sm-12 file-displayer">
                                <a _elem="files_Insert_Image" href="">
                                    <i class="far fa-file" aria-hidden="true"></i>
                                    $file.title
                                </a>
                            </div>
                            <div class="col-sm-12 file-manager">
                                <a _elem="files_Insert_Text" class="" href="">
                                    <i class="fa fa-image" aria-hidden="true"></i>
                                    $text('buttons_Insert')
                                </a>
                                <a _elem="files_Copy" _show="notImplemented" class="" href="">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    $text('buttons_Copy')
                                </a>
                                <a _elem="files_Delete" class="" href="">
                                    <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                    $text('buttons_Delete')
                                </a>
                            </div>
                        </div>
                    </div>
                </$>
            </div>
        </div>
    </div>
</div>

<$ _holder="fileUpload" />
