
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                $title
            </div>
            <div class="col-auto">
                <button _elem="upload" class="btn btn-primary btn-sm m-0 float-right">
                    <i class="fas fa-file-upload" aria-hidden="true"></i>
                    &nbsp;$text('buttons_Upload')
                </button>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="spk-e-images">
            <div _show="loading" class="files-loader">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">$text('texts_Loading')</span>
                </div>
            </div>
            <div _elem="files" class="files-holder $class">
                <$ _hide="loading">
                    <!-- Images -->
                    <div _repeat="files:file" _show="type.isImage" class="image-holder">
                        <div class="image-displayer" style="background-image: url('${file.imgUri}?t=${timestamp}');'">
                            <a _elem="images_Insert_Image" href="">
                                <img src="/dev/node_modules/spk-file-upload/images/dummy.png" alt="" />
                            </a>
                        </div>
                        <div class="btn-group w-100">
                            <a _elem="images_Insert_Text" class="btn btn-theme-light btn-sm" href="">
                                <i class="fa fa-image" aria-hidden="true"></i>
                            </a>
                            <a _elem="images_Copy" class="btn btn-theme-light btn-sm" href="">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                            <a _elem="images_Delete" class="btn btn-theme-light btn-sm" href="">
                                <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    
                    <!-- Files -->
                    <div _repeat="files:file" _show="type.isFile" class="file-holder">
                        <div class="alert alert-info">
                            <div class="row file-details">
                                <div class="col file-name">
                                    <a _elem="files_Insert_Image" href="">
                                        <i class="far fa-file me-2" aria-hidden="true"></i>
                                        $file.title
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <div class="btn-group">
                                        <a _elem="files_Insert_Text" class="btn btn-theme-light btn-sm" href="">
                                            <i class="fas fa-arrow-down" aria-hidden="true"></i>
                                        </a>
                                        <a _elem="files_Copy" _show="notImplemented" class="btn btn-theme-light btn-sm" href="">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                        <a _elem="files_Delete" class="btn btn-theme-light btn-sm" href="">
                                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </$>
            </div>
        </div>
    </div>
</div>

<$ _holder="fileUpload" />
