
<div class="card border-gray mb-3">
    <div class="card-header card-gray">
        Intro Image
    <button _elem="upload" class="btn btn-primary btn-sm m-0 float-right">
        <i class="fas fa-file-upload" aria-hidden="true"></i>
        &nbsp;$text('upload')wczytaj
    </button>
    </div>
    <div class="card-body p-0">
        <div class="spk-e-images">
            <!-- <div _holder="fileInput" class="file-loader"></div> -->
            <div _elem="files" class="images $class">
                    <div class="image-holder" _repeat="files:file">
                        <div class="image-displayer mb-1">
                            <a _elem="link_Image" href="">
                                <img src="${file.uri}?t=${timestamp}" alt="$file.title" />
                            </a>
                        </div>
                        <a _elem="link_Text" class="image-option" href="">
                            <i class="fa fa-image" aria-hidden="true"></i>
                            $text('insert')Wstaw
                        </a>
                        <a _elem="delete" class="image-option text-center" href="">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            $text('copy')URL
                        </a>
                        <a _elem="delete" class="image-option text-right" href="">
                            <i class="fa fa-times text-danger" aria-hidden="true"></i>
                            $text('delete')Usuń
                        </a>
                    </div>
                <div class="mg-clear"></div>
            </div>
        </div>

    </div>
</div>


<$ _holder="fileUpload" />
